body {
  font-family: var(--primary-font);
  background-color: var(--white-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #2e2f42;
  --brand-color: #4d5ae5;
  --text-color: #434455;
  --subtext-color: #8e8f99;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --action-color: #404bbf;
  --green-color: #31d0aa;
  --typical-lh: 1.5;
  --typical-ls: 0.02em;
  --trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --indent: 24px;
  --item: 3;
  --anim-medium: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*::before,
*::after {
  box-sizing: border-box;
}

::after ::content {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
}

li {
  margin-right: 0;
}

.title-all {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.peculiarity {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.link {
  text-decoration: none;
}

.link::before {
  content: '';
  position: absolute;
  bottom: -28px;
  width: 0;
  height: 4px;
  background-color: var(--brand-color);
  transition: width 250ms;
}

.link:hover::before {
  width: 100%;
}
.link:focus::before {
  width: 100%;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
}
.btn:hover,
.btn:focus {
  background-color: var(--action-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.link-logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--brand-color);
  padding: 24px 0;
}
.logo-web {
  color: var(--dark-color);
}

.link-logo-web {
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 18px;

  display: inline-block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--action-color);
}

.logo-web-link {
  color: var(--light-color);
}

.link-photo-portfolio {
  text-decoration: none;
}

.container {
  width: 1158px;
  height: auto;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.cross {
  fill: currentColor;
  transition: fill var(--dark-color) var(--cubic-bezier);
}

.cross:hover,
.cross:focus {
  fill: var(--accent-color);
  stroke: var(--accent-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .window {
  transform: translate(-50%, -50%) scale(0.9);
}

.nav-list-card {
  display: flex;
  gap: 40px;
  margin: 0;
}

.project-card-list {
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set-list {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

.card-set {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
}

.project-card-tel {
  margin-right: 0;
}

/* HEADER */

.header-nav-link {
  position: relative;
  color: #404bbf;
}

.header-nav-link ::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-nav-link :hover ::before,
.header-nav-link :focus ::before {
  color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 100%;
}

.header-link:hover {
  color: var(--action-color);
  text-decoration: underline;
}

.contact-paragraf {
  color: var(--text-color);
}

.contact-paragraf:hover,
.contact-paragraf:focus {
  color: var(--action-color);
}

.peculiarity-details {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  white-space: normal;
  color: var(--text-color);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.content {
  border: 1px solid var(--accent-color);
  padding: 32px 16px;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.card-set-img-team {
  padding-left: 0;
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  background-color: var(--white-color);
}

.card-set-img {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  background-color: var(--white-color);
}
/*main li portfolio */

.project-card {
  width: 360px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  display: block;
  border: 1px solid var(--accent-color);
}

.portfolio-img {
  display: block;
  width: auto;
}

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  color: var(--light-color);
  background-color: var(--brand-color);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform var(--anim-medium);
}

.card-link :hover .hidden-text,
.card-link :focus .hidden-text {
  transform: translateY(0%);
}

.project-card-img {
  flex-basis: calc((100% - 72px) / 4);
  margin-bottom: 48px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.social-media {
  display: flex;
  gap: 24px;
}

.social-media-item {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  color: var(--light-color);
}

.project-card-set {
  width: calc((100% - 48px) / 3);
}

.chapter-our-team-bg {
  padding: 120px 0;
  background: var(--light-color);
}

/* paragraf */

.discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.list-btn {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-one {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.section-advant {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-advant.advant-item:not(:last-child) {
  margin-right: 24px;
}

.advant-item {
  width: calc((100% - 72px) / 4);
}

.team {
  padding-bottom: 120px;
}

.profession {
  text-align: center;
  margin-bottom: 8px;
}

.team-imployee {
  padding: 32px 0px;
}

.names-of-specialists {
  text-align: center;
  margin-bottom: 8px;
}

.main-title-bg {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/office.jpg');
  background-color: var(--brand-color);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.main-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-color);
  white-space: normal;
  display: block;
  margin: 0px auto 48px;
}

/* Button */

.filters-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  color: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  border: 1px solid transparent;
  color: var(--white-color);
  background-color: var(--action-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--action-color);
}

.button-main-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  height: 56px;
  left: 20px;
  top: 20px;
  background-color: var(--brand-color);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main-title:hover,
.button-main-title:focus {
  background: var(--action-color);
  fill: #ffffff;
}

.icon-pos {
  width: 264px;
  height: 112px;
  left: 0;
  top: 0;
  background: var(--light-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.customers {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: block;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-item :hover,
.customers-item :focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customers :hover,
.icon-customers :focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customers {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subtext-color);
  border: 1px solid var(--subtext-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-file {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* footer */

.footer-bg {
  padding: 100px 0;
  background-color: var(--dark-color);
}

.footer-p {
  max-width: 264px;
  white-space: normal;
  color: var(--accent-color);
}
.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-conteiner {
  margin-right: 120px;
}

.portfolio-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--typical-ls);
  color: var(--dark-color);
}

.section-portfolio {
  padding: 96px 0 120px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* ------------- */

.soc-media {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 16px;
}

.list-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.list-footer-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.soc-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links {
  left: 540px;
}

.soc-media-link:hover,
.soc-media-link:focus {
  background-color: var(--green-color);
}

.footer-icon {
  color: var(--light-color);
}

/* modal window */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opaciti var(--anim-medium), visibility var(--anim-medium);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--anim-medium);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(70%);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color var(--anim-medium), color var(--anim-medium), border-color var(--anim-medium);
  
}

.modal-close :hover,
.modal-close :focus {
  background-color: var(--action-color);
  color: var(--accent-color);
  border-color: transparent;
}

.modal-close {
  fill: currentColor;
}

.modal-close :hover .modal-close-icon,
.modal-close :focus .modal-close-icon {
  fill: #ffffff;
}


